
/* Your CSS Code here. */
#body{
	height:300px;
	width:200px;
}
#header{
	height:50px;
	width:200px;
	background:lightblue;
}
#video{
	height:200px;
	width:200px;
	background:mediumseagreen;
}
#link{
	height:50px;
	width:200px;
	background:yellow;
}